{% extends 'base.html.twig' %}

{% block title %}Login to ICCommand{% endblock %}

{% block body %}
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row pb-4">
  <div class="col">
    <div class="float-left pr-4"><img src="/images/e-box.png" width="100px" height="100px" /></div>
    <h1>EMU Web Communications Application Suite</h1>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-4 offset-md-4">
    <div class="card login-card card-accent card-accent-blue">
      <div class="card-body">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <p class="h4 text-center">Login</p>
            <div class="form-row align-items-center">
              <div class="col-sm-12">
                <label class="sr-only" for="username">NetID</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-user-circle-o" aria-hidden="true"></i></div>
                  </div>
                  <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="NetID" />
                </div>
              </div>
              <div class="col-sm-12">
                <label class="sr-only" for="password">Password</label>
                <div class="input-group mb-2">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key"></i></div>
                  </div>
                  <input type="password" class="form-control" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Password" />
                </div>
              </div>
              <div class="col-auto">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
              </div>
            </div>
            <input type="hidden" name="_target_path" value="{{ app.session.get("_security.main.target_path") }}">
            <div class="text-center">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
